<div>
  <table class="table table-dark table-striped table-hover table-bordered table-sm">
    <thead>
    <tr class="table-light">
      <th class="text-center" colspan="2">Available donors for each blood type</th>
    </tr>
    <tr class="text-center">
      <th>Blood Type</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let availableDonorsForEachBloodType of availableDonorsForEachBloodTypes" class="text-center">
      <td> {{ availableDonorsForEachBloodType?.bloodType }}</td>
      <td> {{ availableDonorsForEachBloodType?.quantity }}</td>
    </tr>
    </tbody>
  </table>
</div>
