<div>
  <table class="table table-dark table-striped table-hover table-bordered table-sm">
    <thead>
    <tr class="table-light">
      <th class="text-center" colspan="2">Percentage of obese men and women</th>
    </tr>
    <tr class="text-center">
      <th>Men</th>
      <th>Women</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      <td> {{ percentageOfObeseMenAndWomen.male.toFixed(2) }}%</td>
      <td> {{ percentageOfObeseMenAndWomen.female.toFixed(2) }}%</td>
    </tr>
    </tbody>
  </table>
</div>
